{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
  },
  "plugins": ["@typescript-eslint", "jsx-a11y", "unused-imports"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/strict",
    "plugin:@typescript-eslint/stylistic",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "plugin:astro/recommended",
    "plugin:jsx-a11y/strict",
    "prettier",
  ],
  "rules": {
    // This rule is handled by the TS compiler
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "unused-imports/no-unused-imports": "off",
    "unused-imports/no-unused-vars": "off",
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"],
      },
    },
    {
      "files": ["*.jsx", "*.tsx"],
      "extends": [
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:react-hooks/recommended",
      ],
      "rules": {
        "react-hooks/exhaustive-deps": "error",
      },
    },
    {
      "files": ["*.test.tsx", "*.test.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
      },
    },
    {
      "files": ["astro.config.mjs", "server.js"],
      "env": {
        "node": true,
      },
    },
  ],
  "settings": {
    "react": {
      "version": "detect",
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
  },
}
