---
export const prerender = true

import { ToastContainer } from 'react-toastify'
import { Hero } from '~components/Hero'
import Layout from '~layouts/Layout.astro'
import * as styles from '~styles/common.css'
import { ContactUsForm } from './_components/ContactUsForm'
---

<Layout
  title="Contact | UCSD Casual Golf Club"
  description="Contact us about the UCSD Casual Golf Club"
>
  <Hero title="Contact" />
  <div class={styles.subPageWrapper}>
    <ToastContainer position="top-center" client:load />
    <ContactUsForm client:load />
  </div>
</Layout>
