---
export const prerender = true;

import "~/styles/globals/global.css";
import "~/styles/globals/reset.css";
import "~/styles/globals/theme.css";

import { ToastContainer } from "react-toastify";
import { Hero } from "~components/Hero";
import Layout from "~layouts/Layout.astro";
import * as styles from "~styles/globals/common.css";
import { ContactUsForm } from "./_components/ContactUsForm";
---

<Layout
	title="Contact Us | UCSD Casual Golf Club — Membership & Inquiries"
	description="Contact UCSD Casual Golf Club today for membership inquiries, tournament details, or general feedback. We’d love to hear from you."
>
	<Hero title="Contact UCSD Casual Golf Club" />
	<div class={styles.subPageWrapper}>
		<ToastContainer position="top-center" client:load />
		<ContactUsForm client:load />
	</div>
</Layout>
