---
export const prerender = true

import Layout from '~layouts/Layout.astro'
import { Hero } from '~components/Hero'
import { ContactUsForm } from '~components/ContactUsForm/ContactUsForm'
import { ToastContainer } from 'react-toastify'

import * as styles from '~styles/common.css'
---

<Layout
  title="Contact | UCSD Casual Golf Club"
  description="Contact us about the UCSD Casual Golf Club"
>
  <Hero title="Contact" />
  <div class={styles.subPageWrapper}>
    <ToastContainer position="top-center" client:load />
    <ContactUsForm client:load />
  </div>
</Layout>
