---
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from '../lib/contentful';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { SimplePage } from '../lib/contentful';

const entries = await contentfulClient.getEntries<SimplePage>({
  content_type: 'simplePage',
  'fields.title': 'Home',
});
---

<Layout>
  {
    entries.items.map((item) => (
      <section>
        <h2>{item.fields.title}</h2>
        <article set:html={documentToHtmlString(item.fields.content)} />
      </section>
    ))
  }
</Layout>
