---
import { nav } from './NavBar.css';
---

<nav class={nav}>
  <ul>
    <li><a href="#">Tournament Schedule</a></li>
    <li><a href="#">Roster</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Past Seasons</a></li>
    <li><a href="#">Join the Club</a></li>
  </ul>
</nav>
