---
import { ContentfulImage } from "~components/Image/ContentfulImage";
import { ResponsiveHeadline } from "~components/ResponsiveHeadline";

import { RichText } from "~components/RichText";
import { contentfulClient } from "~services/contentful/contentful";
import type { TypeSeasonRecapSkeleton } from "~types/contentful/TypeSeasonRecap";

import * as styles from "./SeasonRecap.css";

const { year } = Astro.props;

const response = await contentfulClient.getEntries<TypeSeasonRecapSkeleton>({
  content_type: "seasonRecap",
});

const seasonRecap = response.items.find((item) =>
  item.fields.title?.includes(year),
)?.fields;
---

{
  !seasonRecap ? null : (
    <div class={styles.seasonRecapWrapper}>
      {seasonRecap.summary && <RichText richText={seasonRecap.summary} />}
      {seasonRecap.winners && (
        <ul class={styles.seasonRecapList}>
          {seasonRecap.winners.map((winner) => (
            <li>
              <ContentfulImage
                client:load
                className={styles.seasonRecapImage}
                src={
                  winner && "fields" in winner
                    ? winner.fields.file?.url || ""
                    : ""
                }
                alt={
                  winner && "fields" in winner
                    ? winner.fields.title && winner.fields.title.trim() !== ""
                      ? winner.fields.title
                      : "Winner image"
                    : "Winner image"
                }
                width={
                  winner && "fields" in winner
                    ? winner.fields.file?.details?.image?.width
                    : undefined
                }
                height={
                  winner && "fields" in winner
                    ? winner.fields.file?.details?.image?.height
                    : undefined
                }
              />
              <ResponsiveHeadline size={4} as="h3">
                {winner && "fields" in winner ? winner.fields.title : ""}
              </ResponsiveHeadline>
            </li>
          ))}
        </ul>
      )}
    </div>
  )
}
