---
export const prerender = true;

import "~/styles/globals/global.css";
import "~/styles/globals/reset.css";
import "~/styles/globals/theme.css";

import { Hero } from "~components/Hero";
import { Table } from "~components/Table";

import Layout from "~layouts/Layout.astro";
import { contentfulClient } from "~services/contentful/contentful";
import * as styles from "~styles/globals/common.css";
import type { TypeRosterSkeleton } from "~types/contentful/TypeRoster";

export async function getStaticPaths() {
	const entries = await contentfulClient.getEntries<TypeRosterSkeleton>({
		content_type: "roster",
	});

	const pages = entries.items.map((item) => {
		return {
			params: {
				year: item.fields.year?.toString(),
			},
			props: {
				year: item.fields.year ?? "N/A",
				players:
					item.fields.players
						?.map((player) => {
							if (player && "fields" in player) {
								return {
									playerName: player.fields.playerName,
									handicapIndex: player.fields.handicapIndex,
									guest: player.fields.guest,
								};
							}
							return null;
						})
						.filter(Boolean) ?? [],
				years: entries.items.map((entry) => entry.fields.year?.toString() ?? "N/A"),
			},
		};
	});

	return pages;
}

const { year, players = [] } = Astro.props;
---

<Layout
	title={`${year} Roster | UCSD Golf Club Members`}
	description={`See the ${year} UCSD Casual Golf Club roster. View player names and handicap indexes for the season.`}
>
	<Hero title={`${year} Roster`} />
	<div class={styles.subPageWrapper}>
		<div style="overflow-x: auto;">
			<Table
				client:idle
				thead={["Player", "Index"]}
				tbody={players
					.map((player) => {
						return player?.guest?.includes("Yes")
							? null
							: [
									player?.playerName,
									player?.handicapIndex === undefined ? "NH" : String(player.handicapIndex),
								];
					})
					.filter((row) => row !== null) as string[][]}
			/>
		</div>
	</div>
</Layout>
