---
import { contentfulClient } from '../../lib/contentful';
import type { TypeLeadersSkeleton } from '../../types/contentful';

import Layout from '../../layouts/Layout.astro';

import { Table } from '~components/Table';
import { ResponsiveHeadline } from '~components/ResponsiveHeadline';

import * as styles from '../../styles/common.css';

const entries = await contentfulClient.getEntries<TypeLeadersSkeleton>({
  content_type: 'leaders',
  order: ['fields.handicapIndex'],
});
---

<Layout title="Roster" description="Roster">
  <section class={styles.heroWrapper}>
    <ResponsiveHeadline size={3} as="h1">Roster</ResponsiveHeadline>
  </section>
  <div class={styles.subPageWrapper}>
    <Table
      thead={['Player', 'Index']}
      tbody={entries.items
        .filter((item) => item.fields.onCurrentRoster === true) // Filter players on the current roster
        .map((item) => {
          return item.fields.guest?.includes('Yes')
            ? null
            : [
                item.fields.playerName,
                item.fields.handicapIndex === undefined
                  ? 'NH'
                  : String(item.fields.handicapIndex),
              ];
        })
        .filter((row) => row !== null) as string[][]}
    />
  </div>
</Layout>
