---
import Head from './Head.astro';
import { Header } from '~components/Header';
---

<!doctype html>
<html lang="en">
  <Head title="UCSD Casual Golf Club" />
  <body>
    <Header />
    <slot />
  </body>
</html>
