---
import { BaseHead } from './BaseHead';
import { Header } from './Header';
import { Footer } from './Footer';
import * as style from '../styles/common.css';
---

<!doctype html>
<html lang="en">
  <BaseHead title="UCSD Casual Golf Club" />
  <body>
    <Header />
    <main class={style.mainWrapper} id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
