---
import * as styles from "~styles/globals/common.css"
import { BaseHead } from "./BaseHead"
import { Footer } from "./Footer"
import { Header } from "./Header"

const { title, description, lang = "en-US" } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <BaseHead title={title} description={description} />
  <body>
    <Header />
    <main class={styles.mainWrapper} id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
