---
import { BaseHead } from './BaseHead'
import { Header } from './Header'
import { Footer } from './Footer'
import * as styles from '~styles/common.css'

const { title, description, lang = 'en-US' } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <BaseHead title={title} description={description} />
  <body>
    <Header />
    <main class={styles.mainWrapper} id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
